body{
	margin:0;
}
ul, li{
	margin:0;
	padding:0;
	list-style:none;
}
dl, dt, dd{
	margin:0;
	padding:0;
}
#wrapper{
	width:75%;
	margin:100px auto;
	border:1px solid #000;
}
.post{
	width:100%;
	overflow:hidden;
}
ul.image-list{
	width:90%;
	margin:10px auto;
}
ul.image-list li{
	float:left;
	width:150px;
	height:150px;
	text-align:center;
}
ul.image-list li img{
	display:block;
	width:90%;
	height:90%;
}
.lightbox{
	width:700px;
	overflow:hidden;
	padding:0 25px;
}
.lightbox .header{
	width:690px;
	position:relative;
	padding:5px;
}
.lightbox .header .close{
	float:right;
}
.lightbox .holder{
	width:100%;
	position:relative;
	background-color:#eee;
}
.lightbox a.prev{
	position:absolute;
	left:-20px;
	top:50%;
	width:15px;
	height:15px;
	color:#fff;
	text-decoration:none;
	font:bold 20px/22px Arial;
	margin-top:-8px;
}
.lightbox a.next{
	position:absolute;
	right:-20px;
	top:50%;
	width:15px;
	height:15px;
	color:#fff;
	text-decoration:none;
	font:bold 20px/22px Arial; 
	margin-top:-8px
}
.lightbox .content{
	width:680px;
	height:450px;
	padding:30px 10px 10px;
	overflow:hidden;
	background-color:#eee;
}
.lightbox .content .gallery-holder{
	width:100%;
	height:350px;
	overflow:hidden;
}
.lightbox .content .description{
	width:100%;
	height:70px;
	overflow:hidden;
	padding:10px 0 0;
}
.lightbox .content .description .size{
	float:left;
	padding:0 5px;
	width:285px;
}
.lightbox .content .description .price{
	float:left;
	padding:0 5px;
	width:170px;
	text-align:right;
}
.lightbox .content .description .order{
	float:left;
	padding:0 5px;
}
.lightbox .content .controls{
	width:100%;
	height:20px;
	overflow:hidden;
	text-align:center;
}
.lightbox .content .controls a{
	color:#000;
	text-decoration:none;
	padding:0 30px;
}
.lightbox .content .gallery{
	width:100%;
	overflow:hidden;
}
.lightbox .content .gallery .g1{
	width:472px;
	float:left;
	overflow:hidden;
	margin:0 8px 0 0;
}
.lightbox .content .gallery .g1 ul{
	position:relative;
	width:100%;
	height:350px;
}
.lightbox .content .gallery .g1 ul li{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.lightbox .content .gallery .g1 ul li img{
	display:block;
	width:100%;
	height:100%;
}
.lightbox .content .gallery .thumbs{
	width:200px;
	float:right;
	overflow:hidden;
}
.lightbox .content .gallery .thumbs ul li{
	width:100%;
	height:115px;
	margin:0 0 8px;
	cursor:pointer;
}
.lightbox .content .gallery .thumbs ul li img{
	display:block;
	width:100%;
	height:100%;
}