/* css reset */
body {
	font:12px Arial, Helvetica, sans-serif;
	background:#fff;
	color:#000;
	margin:0;
}
img {border-style:none;}
a {
	text-decoration:none;
	color:#00f;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
/* test styles */
#page {
	background: #fee;
	padding: 20px;
	margin: 0 15%;
}
#page img {
	width: 50%;
	height: auto;
}